[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/picojson"]
	path = lib/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
